@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-light-bg: #F0FDF9;
    --color-light-bg2: #FFFFFF;
    --color-light-bg3: #0D9488;
    --color-light-text: #134E4A;
    --color-light-border: #99F6E4;
    --color-light-accent: #0F766E;

    --color-dark-bg: #0A1A18;       
    --color-dark-bg2: #061413;      
    --color-dark-bg3: #153A37;      
    --color-dark-border: #229283;   
    --color-dark-text1: #F0FDFA;    
    --color-dark-text2: #5EEAD4;    
}